<div class="container spaced max-height grey">
  <div class="container-item-small">
    <div class="container center column">
      <img class="container img-center" src="assets/img/profile.png" style="max-width: 50%"
        alt="Sam Maphey Profile Picture">
      <h1 class="container center">Sam Maphey</h1>
      <p class="container center" style="color: light-grey;">Software Engineer</p>
      <div style="width: 30%; margin: auto;">
        <div class="container spaced">
          <a href="https://github.com/sammaphey" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="3x"></fa-icon>
          </a>
          <a href="https://www.linkedin.com/in/samuel-maphey-80088b115/" target="_blank">
            <fa-icon [icon]="['fab', 'linkedin']" size="3x" href=""></fa-icon>
          </a>
          <a href="https://hub.docker.com/search?q=sammaphey&type=image" target="_blank">
            <fa-icon [icon]="['fab', 'docker']" size="3x" href=""></fa-icon>
          </a>
        </div>
      </div>
      <div class="container center">
        <button style="width: 200px; margin-top: 30px;" mat-raised-button>Download Resume</button>
      </div>
    </div>
  </div>
  <div class="container-item round-rec dark-grey margin">
    <mat-toolbar>
      <div class="container center">
        <div *ngFor="let page of pages">
          <button [matTooltip]="page.tooltip" (click)="route(page)" matTooltipPosition="above" mat-icon-button>
            <mat-icon>{{page.icon}}</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>