body, html {
    height: 100%;
    /* The image used */
    background-image: url("../img/background.jpg");
    /* Full height */
    height: 100%;
    min-height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

#home-image {
    margin-top: -10px;
    width: 50px;
    height: 50px;
}

.navbar-header {
    height: 60px;
}

.navbar-toggle {
    margin-top: 12px;
}

.bg {
    /* The image used */
    background-image: url("../img/background.jpg");
    /* Full height */
    height: 100%;
    min-height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    font-size: 24px;
}


/* Effect 1: Brackets */

.nav a::before, .nav a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.nav a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.nav a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.nav a:hover::before, .nav a:hover::after, .nav a:focus::before, .nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.jumbotron {
    background: rgb(211, 211, 211);
    /* This is for ie8 and below */
    background: rgba(211, 211, 211, 0.5);
}


/*.jumbotron p {
    font-weight: bold;
}*/

.jumbotron a {
    color: black;
    text-decoration: none;
    font-style: italic;
}

.jumbotron .col-md-8 {
    background: rgb(211, 211, 211);
    /* This is for ie8 and below */
    background: rgba(211, 211, 211, 0.8);
}


/* Effect 1: Brackets */

.resume-header a::before, .resume-header a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.resume-header a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.resume-header a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.resume-header a:hover::before, .resume-header a:hover::after, .resume-header a:focus::before, .resume-header a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/* Blur */

.wrapper {
    display: table;
    margin: auto;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
}

.image .projects figure img {
    border-radius: 50%;
}

.image .resume figure img {
    border-radius: 50%;
}

.image figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 200px;
    height: 200px;
    position: relative;
}

.image figure p {
    position: absolute;
    margin-top: -50px;
    margin-left: 5px;
    background: rgb(211, 211, 211);
    /* This is for ie8 and below */
    background: rgba(211, 211, 211, 0.5);
}

.image figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}
