<h2 style="text-align:center;">Sam Maphey</h2>
<div class="row resume-header">
    <div class="col-md-3 col-md-offset-.5 text-center">
        <h7>Software Developer</h7>
    </div>
    <div class="col-md-3 text-center">
        <h7><a href="https://www.clarkson.edu/">Clarkson University</a></h7>
    </div>
    <div class="col-md-3 text-center">
        <h7><a href="mailto:sammaphey@gmail.com">sammaphey@gmail.com</a></h7>
    </div>
    <div class="col-md-3 text-center">
        <h7><a href="tel:+1-555-555-1212">315-955-5291</a></h7>
    </div>
</div>
<hr>
