<h1 style="text-align:center;">Samuel Maphey</h1>
<div class="row resume-header">
  <div class="col-md-4 text-center">
    <h7><a href="tel:+1-315-955-5291">315-955-5291</a></h7>
  </div>
  <div class="col-md-4 text-center">
    <h7><a href="https://www.clarkson.edu/">Clarkson University</a></h7>
  </div>
  <div class="col-md-4 text-center">
    <h7><a href="mailto:mapheysc@clarkson.edu">mapheysc@clarkson.edu</a></h7>
  </div>
  <!-- <div class="col-md-3 text-center">
    <h7>564 Sissionville Road, Potsdam, New York 13601</a></h7>
  </div> -->
</div>
<hr>
